<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Account">
            <id property="accountId" column="account_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="balance" column="balance" jdbcType="DECIMAL"/>
            <result property="withdrawalPassword" column="withdrawal_password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        account_id,user_id,balance,
        withdrawal_password,create_time,update_time
    </sql>
</mapper>
