<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.EntityCardMapper">

    <resultMap id="BaseResultMap" type="generator.domain.EntityCard">
            <id property="cardId" column="card_id" jdbcType="OTHER"/>
            <result property="cardNumber" column="card_number" jdbcType="VARCHAR"/>
            <result property="cardName" column="card_name" jdbcType="VARCHAR"/>
            <result property="cardInfo" column="card_info" jdbcType="VARCHAR"/>
            <result property="collectedQuantity" column="collected_quantity" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        card_id,card_number,card_name,
        card_info,collected_quantity,create_time,
        update_time
    </sql>
</mapper>
